PORT=5000
MONGO_URI=mongodb+srv://<user>:<password>@cluster.mongodb.net/fundindia
JWT_SECRET=your_jwt_secret
JWT_EXPIRES=7d
RAZORPAY_KEY_ID=rzp_test_xxxxxxxxxx
RAZORPAY_KEY_SECRET=xxxxxxxxxxxxxxxxxxxx
CLIENT_URL=http://localhost:5173
